<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
{% include '../includes/head.html' %}

<body data-ng-controller="AngulrthemeController" ng-cloak class="ng-cloak" ng-class="state">
<div class="app app-header-fixed app-aside-fixed" id="app">

    <!-- navbar -->
    <div class="app-header navbar" data-ng-include="'/angulrtheme/views/header.html'" data-role="navigation"></div>
    <!-- navbar -->

    {% if adminEnabled %}
    <section class="admin-menu">
        <div data-ng-include="'/mean-admin/views/index.html'"></div>
    </section>
    {% endif %}

    <div>
        {% block content %}{% endblock %}
    </div>

    <!-- footer -->
    <div class="app-footer wrapper b-t bg-light">
        <span class="pull-right">v1.0 <a href ui-scroll-to="app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span>
        &copy; 2015 Copyright.
    </div>
    <!-- / footer -->

    {% include '../includes/foot.html' %}
</div>
</body>

</html>
